In [58]:
import pandas as pd
df=pd.read_csv("D:\\data analytics\\REAL-TIME PROJECTS\\AP EAPCET prediction\\preprocessed data.csv")

In [59]:
df.head()

,Gender,State,District,region,Intermediate_marks,Eamcet year,eamcet marks,status,Eamcet rank,Allotted college,Branch
0,1.0,Andhra Pradesh,Krishna,Middle Andhra,989.0,2020.0,124.0,1.0,705,JNTUK COLLEGE OF ENGG. KAKINADA,CSE
1,1.0,Andhra Pradesh,East Godavari,Middle Andhra,988.0,2020.0,117.0,1.0,1300,JNTUK COLLEGE OF ENGG. KAKINADA,CSE
2,1.0,Andhrapradesh,East Godavari,Middle Andhra,954.0,2020.0,111.0,1.0,1501,NaN,
3,0.0,Andhrapradesh,East Godavari,Middle Andhra,987.0,2020.0,110.0,1.0,1570,JNTUK COLLEGE OF ENGG. KAKINADA,ECE
4,1.0,Andhrapradesh,Visakhapatnam,North Andhra,987.0,2020.0,109.0,1.0,1578,GAYATHRI VIDYA PARISHAD COLL. OF ENGINEERING,CSE

In [60]:
df.isnull().sum()

Gender                 1
State                  1
District               1
region                 0
Intermediate_marks     1
Eamcet year            1
eamcet marks           1
status                 1
Eamcet rank            1
Allotted college      16
Branch                 4
dtype: int64

In [61]:
inputs = df.drop(['Gender','State','Eamcet year','Eamcet rank','eamcet marks','Allotted college','Branch','status'],axis='columns')
target = df['status']
#df=df.dropna()

In [62]:
#inputs.head()
inputs.tail()

           District        region  Intermediate_marks
2477       Chittoor   Rayalaseema               700.0
2478  Visakhapatnam  North Andhra               396.0
2479         Guntur  South Andhra               396.0
2480        Kurnool   Rayalaseema               676.0
2481            NaN                               NaN

In [63]:
inputs=inputs.dropna()

In [64]:
inputs.to_csv("hsdjhdsjh.csv")

PermissionError: [Errno 13] Permission denied: 'hsdjhdsjh.csv'

In [65]:
inputs.tail()

           District        region  Intermediate_marks
2476     Srikakulam  North Andhra               398.0
2477       Chittoor   Rayalaseema               700.0
2478  Visakhapatnam  North Andhra               396.0
2479         Guntur  South Andhra               396.0
2480        Kurnool   Rayalaseema               676.0

In [66]:
target

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
2477    0.0
2478    0.0
2479    0.0
2480    0.0
2481    NaN
Name: status, Length: 2482, dtype: float64

In [67]:
target=target.dropna()

In [68]:
target.tail()

2476    0.0
2477    0.0
2478    0.0
2479    0.0
2480    0.0
Name: status, dtype: float64

In [69]:
from sklearn.preprocessing import LabelEncoder

In [70]:
le_District = LabelEncoder()
le_region = LabelEncoder()
#le_Intermediate_marks = LabelEncoder()
le_status = LabelEncoder()

In [71]:
inputs['District_n'] = le_District.fit_transform(inputs['District'])
inputs['region_n'] = le_region.fit_transform(inputs['region'])
#inputs['Intermedite_marks_n'] = le_Intermediate_marks.fit_transform(inputs['Intermediate_marks'])
df['status_n'] = le_status.fit_transform(df['status'])

In [72]:
inputs.head()

        District         region  Intermediate_marks  District_n  region_n
0        Krishna  Middle Andhra               989.0           4         0
1  East Godavari  Middle Andhra               988.0           2         0
2  East Godavari  Middle Andhra               954.0           2         0
3  East Godavari  Middle Andhra               987.0           2         0
4  Visakhapatnam   North Andhra               987.0           9         1

In [73]:
inputs_n = inputs.drop(['District','region'],axis='columns')
#target2 = df['status_n']

In [74]:
#inputs_n.head()
inputs_n.tail()

      Intermediate_marks  District_n  region_n
2476               398.0           8         1
2477               700.0           1         2
2478               396.0           9         1
2479               396.0           3         3
2480               676.0           5         2

In [75]:
inputs_n=inputs_n.dropna()

In [76]:
inputs_n.tail()

      Intermediate_marks  District_n  region_n
2476               398.0           8         1
2477               700.0           1         2
2478               396.0           9         1
2479               396.0           3         3
2480               676.0           5         2

In [77]:
inputs_n["District_n"]
# import pandas as pd
# pd.options.display.max_seq_items = 3000

0       4
1       2
2       2
3       2
4       9
       ..
2476    8
2477    1
2478    9
2479    3
2480    5
Name: District_n, Length: 2481, dtype: int32

In [78]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [79]:
#now training the model
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [80]:
model.score(inputs_n,target)

0.9935509875050383

In [85]:
import joblib

# Assuming 'model' is your trained model
# Save the model to a file
joblib.dump(model, 'AP-EAPCET CLASSIFICATION.h5')

# To load the model back
# loaded_model = joblib.load('model_filename.pkl')

['AP-EAPCET CLASSIFICATION.h5']

In [82]:
model.predict([[487,6,1]])

c:\Users\heman\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1.])

In [83]:
import numpy as np
input_data = np.array([[487, 6, 1]])  # Creating an array with the input values
prediction = model.predict(input_data)  # Making the prediction
output = prediction[0]  # Retrieving the output value

print(output)  # Displaying the output

1.0

c:\Users\heman\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [84]:
model.predict([[50.0,9,2]])

c:\Users\heman\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0.])

In [ ]:
decoded_labels = encoder.inverse_transform(encoded_labels)